extends ../node_modules/jade-bootstrap/_bootstrap

head
  title = title
  path = path
  file = file
block body
  
  +navbar(title, "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/list", "active") Database
    +nav_item("/search") Search
  .container
    .panel.panel-default
      .panel-heading #{path}
      ul.nav.nav-tabs
        li.active(id="text-tab", role='presentation')
          a(href="") Text
        li(id="xml-tab", role='presentation')
          a(href="#xml") XML
        li(id="edit-tab", role='presentation')
          a(href="#edit") Edit
      .panel-body
        p !{file}

