extends ../node_modules/jade-bootstrap/_bootstrap

head
  title = title
  place = place
block body
  +navbar(title, "dropdown_menu")
    +nav_item("/", "active") Home
    +nav_item("/list") All of Colenso
    +nav_item("/search") Search
  .container
    h1 #{title}
    .container
    p| Welcome to #{title}. We have an excellent collection of videos in stock for you.
     | We are based in #{place}.

