extends ../node_modules/jade-bootstrap/_bootstrap

head
  title = title
  place = place
block body
  +navbar(title, "dropdown_menu")
    +nav_item("/", "active") Home
    +nav_item("/db") Database
    +nav_item("/search/text") Search
  .container
    h1 #{title}
    .container
    p| Welcome to #{title}. Please explore!