extends ../node_modules/jade-bootstrap/_bootstrap

head
  title = title
  result = result
block body
  +navbar(title, "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/list", "active") Authors
    +nav_item("/search") Search
  .container
    h1 #{title}
  .container
    .panel.panel-default
      .panel-heading Authors
      .list-group
        each val in result
          a.list-group-item(href="author?author=#{val}") #{val}

