extends ../node_modules/jade-bootstrap/_bootstrap

head
  title = title
  srch = srch
  results = results
  srchType = srchType
    
block body
  +navbar(title, "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/db") Database
    +nav_item("/search/text", "active") Search
  .container.clearfix
    form.navbar-form.navbar-left(role='search')
      .input-group
        .input-group-btn
          .btn-group
            button.btn.btn-default(type='button', id='srch-type-text') #{srchType} Search
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              span.caret
              span.sr-only Toggle Dropdown
            ul.dropdown-menu
              li
                a(href='/search/text') Text
              li
                a(href='/search/xquery') XQuery/XPath
        input#srch.form-control(type="text", placeholder='#{srchType} Search', name='srch')
        .input-group-btn
          button.btn.btn-default(type='submit')
           i.glyphicon.glyphicon-search
  .container
    if results
      .panel.panel-success
        .panel-heading Search Results
        .list-group
          if results
            each val in results
             a.list-group-item(href="/db?path=#{val}") #{val}

          
      

